@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

* {
    margin: 0px;
    font-family: 'Solway', serif;
}

img {
    user-select: none;
    cursor: pointer;
}

.shadow {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.draggable {
    cursor: pointer !important;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

.network-body {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../img/background.png);
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.network-window {
    height: calc(100%);
    width: calc(100%);
}

.network-window-background {
    position: absolute;
    height: calc(100%);
    width: calc(100%);
    background: white;
    opacity: 0.8;
}

.hops-window {
    position: fixed;
    bottom: 0px;
    max-height: calc(34% - 10px);
    width: calc(100% - 20px);
    margin: 0px 10px;
    border-radius: 5px;
    background: white;
}

.hops-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #424a60;
    border-radius: 5px 5px 0px 0px;
}

.toggle-toolbar {
    padding: 0 20px;
}

.toggle-toolbar a {
    color: #bcc5e4;
    cursor: pointer;
}

.toggle-toolbar a:hover {   
    text-decoration: underline;
}

.hops-window-content {
    height: 400px;
    width: 100%;
    background-color: ghostwhite;
}


/* Interactive part CSS */

.network-canvas {
    width: 100%;
    height: 100%;
}

.network-entity {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
}

.router {
    background-image: url("../img/router.png");
}
.server {
    background-image: url("../img/server.png");
}
.client {
    background-image: url("../img/client.png");
}