@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

* {
    margin: 0px;
    font-family: 'Solway', serif;
}

img {
    user-select: none;
    cursor: pointer;
}

.shadow {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.active {
    color: red !important;
    text-decoration: underline !important;
}
.active:hover {
    color: red !important;
    text-decoration: none !important;
}

.draggable {
    cursor: pointer !important;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

.network-body {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../img/background.png);
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.network-window {
    height: calc(100%);
    width: calc(100%);
}

.network-window-background {
    position: absolute;
    height: calc(100%);
    width: calc(100%);
    background: white;
    opacity: 0.8;
}

.network-canvas {
    width: 100%;
    height: 100%;
}

/* Status Bar Styles */

.status-bar {
    position: absolute;
    padding: 5px;
    top: 20px;
    left: 20px;
    background-color: #424a60;
    border-radius: 5px;
    display: none;
}

#dst-block.status-bar {
        top: 55px;
}

.status-bar a {
    color: #bcc5e4;
    cursor: pointer;
}

/* Hops Window Styles */

.hops-window {
    position: fixed;
    bottom: 0px;
    max-height: calc(34% - 10px);
    width: calc(100% - 20px);
    margin: 0px 10px;
    border-radius: 5px;
}

/* Toolbar Styles */

.hops-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: #424a60;
    border-radius: 5px 5px 0px 0px;
}

.hops-toolbar a {
    color: #bcc5e4;
    cursor: pointer;
}

.hops-toolbar a:hover {   
    text-decoration: underline;
}

.network-actions a, .hops-actions a {
    margin-right: 10px;
}

.toggle-toolbar, .network-actions, .hops-actions {
    padding: 0 20px;
}
    
.hops-window-content {
    display: none;
    height: 400px;
    width: 100%;
}

.hops-window-content a {
    color: #bcc5e4;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #bcc5e4;
    background-color: #424a60;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.hops-window-content a:hover {   
    text-decoration: underline;
    border: 1px solid #424a60;
}

.hops-side-nav {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 0px 20px;
    height: 100%;
    background-color: #424a60;
    float: left;
}

.hops-content {
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
}

.hops-content .hops {
    margin: 10px;
}

table {
    border-collapse: collapse;
  }
  
table, th, td {
    border: 1px solid black;
}

td {
    padding: 0px 5px;
}

/* Dialog Styles */

.dialog-container {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(66, 74, 96, 0.47);
    top: 0px;
}

.dialog {
    background-color: white;
    border-radius: 5px;
    padding: 0px 0px 15px 0px;
    color: #bcc5e4;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: calc(100% - 20px);
    background-color: #424a60;
    border-radius: 5px 5px 0px 0px;
    padding: 3px 10px 5px 10px;
}

.dialog input,
.dialog select,
.dialog button {
    border-radius: 2px;
    border: 1px solid #424a60;
}

.dialog button {
    background-color: #424a60;
    color: #bcc5e4;
    padding: 5px 10px;
    margin-left: 5px;
}

.dialog button:active {
    box-shadow: none;
}

.dialog-body {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.dialog-actions {
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: flex-end;
}

.new-device-dialog {
    display: none;
    position: absolute;
    width: 200px;
    left: calc(50vw - 100px);
    top: calc(50vh - 120px);
}

.new-device-dialog input {
    margin-bottom: 10px;
}